$clr-border: hsl(0, 0%, 91%);
$clr-bg-primary: hsl(185, 75%, 39%);
$clr-text-primary: hsl(229, 23%, 23%);
$clr-text-secondary: hsl(227, 10%, 46%);
$clr-bg-secondary: hsl(0 0% 100%);
// ### Body Copy

// - Font size (name and stats): 18px

// ### Font

// - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
// - Weights: 400, 700
